<div class="help-btn">
  <button id="btn-need-help" class="btn btn-info">
    <span class="glyphicon glyphicon-envelope"></span>
    <span class="helpText">&nbsp Besoin d'aide</span>
  </button>
</div>