<div id="intro-header" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
    {{#each intro.tasks}}
    <li data-target="#intro-header" data-slide-to="{{@index}}" class="{{#unless @index}}active{{/unless}}"></li>
    {{/each}}
</ol>

<div class="carousel-inner">
{{#each intro.tasks}}
    <div class="item {{#unless @index}}active{{/unless}}">
        <img src="images/slide.svg" alt="">
        <div class="container">
            <div class="carousel-caption">
                <h1>{{../intro.title}}</h1>
                <h3>{{../intro.message}}</h3>
                <h2>{{this}}</h2>
                
            </div>
        </div>
    </div>
{{/each}}
</div>



</div>  
