<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        {{!-- Nom du projet --}}
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{projectName}}</a>
        </div>
        <div class="collapse navbar-collapse">
          {{!-- Elements de navigation--}}
          <ul class="nav navbar-nav">
            {{#each sections}}
              <li ><a href="{{selector}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>