
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import "../../../bower_components/bootstrap/less/bootstrap.less";
@container-lg : 100%;
@font-family-sans-serif:  "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
@list-group-bg: transparent;

@btn-default-bg: transparent;
