/*Se rendre à l'url: http://getbootstrap.com/customize/ afin de voir les variables.*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import "../../../bower_components/bootstrap/less/bootstrap.less";

#app{
  padding-top: 70px;
}


@container-lg : 100%;

@font-family-sans-serif:  "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: "Montserrat","Helvetica Neue", Helvetica, Arial, sans-serif;

@list-group-bg: rgba(0, 0, 0, 0.4);
/*Couleur des boutons defaults.*/
@btn-default-bg: rgba(0, 0, 0, 0.4);

/*Fond des images.*/
@thumbnail-bg: rgba(0, 0, 0, 0.4);

/*Couleur du texte.*/
@text-color: white;
/*Modal bg.*/
@modal-content-bg: rgba(0, 0, 0, 0.8);

/*Navbar.*/
@navbar-default-color:             white;
@navbar-default-bg:               rgba(0, 0, 0, 0.8);
@navbar-default-brand-color: rgba(255,255,255,0.7);
@navbar-default-link-color: #777;;
@navbar-default-link-active-color:         white;
/*
@code-color: black;
@code-bg: white;
*/