body {
  background: url('../images/blur.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#333;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
/*    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    z-index: 1;
}
/*
div#app{
  z-index: 9999;
}*/